@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Niconne:100,200,300,400,500,600,700');

/*--------------------------------------------Colors

.bg-color-point{
    background-color:#0099e6;
}
/*------------------------------Header-----------*/
/*header{
    margin:0px;
    padding:0px;
    background-color: #FFF;
}*/

.heading{
    text-align: center;
    margin-top:20px;
}
.logo-head{
    margin-top:50px;
    margin-;
    
}
.logo {
    background: url("../images/logolight.png");
    background-position: center;    
    background-repeat: no-repeat;
    background-size:75%;
    min-height:100px;
    margin:0;
    padding-left:20px;
    width:100%;
}
.h1, h1 {
    font-size: 2.5rem;
    font-family: exo;
    color: rgb(8, 139, 8);
}

/*#coName{
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size:50px;
    color: #009900;
    margin-top:60px;  
}*/
.point{
    font-family: "Niconne", sans-serif;
    color: #0d0d0d;
    margin-bottom: 30px;
}

/*.list-inline-item:not(:last-child){
    margin:0;
    padding: 0;

}
.menucontainer{
    font-size:0;
}*/
/*------------navigation bar---------------*/
/*.navbar li{
    font-size:24px;
    padding:0;
    text-align: center;
    text-decoration: none;
    margin:0;
    list-style: none;
}*/

.navbar{
    background-color:#009900;
    margin-bottom:20px;
    height:50px;
    
}

/*.navbar span{
    color:aliceblue;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
}
/*-------------------Carusell--------------------*/
article.container-fluid.image-container{
    padding:0;
}
.image-container{
    margin-top:20px;
}
.carousel-item img{
    height:480px;
} 

/*--------------Features--------------*/

.container-description{
    background-color:#ff5233;
    margin-top:20px;
}
.feature{
    text-align: center;
    color:#fafafa;
    padding-bottom:40px;
    font-family:"oswald",sans-serif;
}
.feature i{
    color:chartreuse;
    font-size:50px;
    padding:20px;
    display:block;
}
.feature h3{
    color:cyan;
    font-family:"Exo", sans-serif;
}



/*-------------------iframe--------------------*/
.wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
}
/*-------------------Footer--------------------*/
footer{
    background-color:#525252;
    color: #fafafa;
    min-height:120px;
    background-repeat: no-repeat;
    margin:0;
    text-align: center;
}
.social-link{
    text-align: center;
    margin-bottom:30px;
}

.social-link i{
    font-size:200%;
    margin:0;
    padding:40px;
    color:#00ff00;
}



@media only screen and (max-width: 600px) {
  .social-link i{
    margin:0;
    padding:0;
  }
}

/*--------------About Jute------------------*/
.plant-container img{
    height:480px;
    margin-top:20px;
    padding-top:40px;
    margin-bottom: 20px;
}
.plant-container{
    padding:0;
}