@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Niconne:100,200,300,400,500,600,700');

/*--------------------------------------------Colors*/

.bg-color-point{
    background-color:#0099e6;
}
/*------------------------------Header-----------*/
header{
    margin:0;
}

.heading{
    text-align: center;
}
.logo {
    background: url("../images/logolight.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:80%;
    min-height: 200px;
}

.coName{
    font-family: "Exo", sans-serif;
    font-weight: 300;
    font-size:50px;
    color:#fff;
    margin-top:30px;  
}
.point{
    font-family: "Niconne", sans-serif;
    color: #0d0d0d;
    margin-bottom: 30px;
}

.list-inline-item:not(:last-child){
    margin:0;
    padding: 0;

}
.menucontainer{
    font-size:0;
}
#nav li{
    font-size:24px;
    padding:0;
    text-align: center;
}

#nav{
    background-color:#009900;
}

#nav span{
    color:aliceblue;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
}

