@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Colors*/
.logo {
    background: url("../images/logoeco.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 160px;
}



